.button {
    border: 1px solid #fff;
    font-size: 18px;
    font-weight: 600;
    padding: 16px 32px;
    border-radius: 2px;
    cursor: pointer;
    width: 100%;

    &.button--primary{
        color: #fff;
        background-color: #6C1BDB;
        
      &.active{
        background-color: #912EF2;
        &:hover {
            opacity: 0.6;
        }
    }
      &.disabled {
        background-color: rgba(190, 190, 196, 0.1);
        cursor: not-allowed;
        color: #8d8e97;
    }
    }

   
    &.button--secondary {
        color: #000;
        background-color: #aba4b4;
        &.active {
            &:hover {
                background-color: #6e5d74;
            }
        }
        &.disabled {
            background-color: rgba(190, 190, 196, 0.1);
            cursor: not-allowed;
            color: #8d8e97;
        }
    }
    &.button--secondary2 {
        color: #fd3419;
        background: none;
        &.active {
            &:hover {
                background-color: #dadada;
            }
        }
        &.disabled {
            
            cursor: not-allowed;
            color: #8d8e97;
        }
    }

    &.dark{
        border: 1px solid #6C1BDB;
        
    }
}