.list{
     display: flex;
     column-gap: 30px;
     

   
    &__medium-card{
        max-width: 1105px;
        display: flex;
        column-gap: 24px;
        row-gap: 40px;
        flex-wrap: wrap;
        margin-top: 50px;

    }

}