.breadcrumbs{
    margin-bottom: 32px;
    

    &__link{
        color: #c011b1;
        font-weight: 700;
        &:hover{
            color: #63095b;

        }
        &:not(:last-child):after{
        content: ' | ';
    }
    }

    &__text {
        color: #61546e;
    }

    
}